*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
venv/
node_modules/
venv/
app/build/
.build-outputs/
tmp/
github.keystore

*-debug.log
tests/firestore/node_modules
# Python cache files
__pycache__/
*.py[cod]
.pytest_cache/
